body{
    background-color:darkslategrey;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

a   {
    color:grey;
}

html{
    text-align: center;
}

model-viewer{
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: monospace;
}

button:hover{
    background-color: grey;
}





